<link href="${ctx}/s/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="${ctx}/s/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="${ctx}/s/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="${ctx}/s/media/css/style.css" rel="stylesheet" type="text/css"/>
<link href="${ctx}/s/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="${ctx}/s/media/css/light.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="${ctx}/s/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>